header{
    justify-content: center;
    border: solid black 1px;
    width: 50%;
    height: 70px;
    background-color: lightblue;
    margin: auto;
}
body {
background-image: url(bilder/bakgrund.avif);
background-size: cover;
    background-position: center; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1{
text-align: center;
}

.contact button {
    background-color: #ddd;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 1000px;
    height: 800px;
    margin: auto;
    margin-top: 20px;
}

.box img{
    border: solid black 1px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.länkarcontainer{
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: auto;
    width: 100px;
    height: 60px;
}
.länk{
    border: solid black 1px;
}