header{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
    width: 50%;
    height: 70px;
    background-color: lightblue;
    margin: auto;
}
body {
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
background-image: url(bilder/bakgrund.webp);
background-size: cover;
    background-position: center; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1{
text-align: center;
}

.contact button {
    background-color: #ddd;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    min-width: 1025px;
    max-height: 800px;
    margin: auto;
    margin-top: 20px;
}

.box img{
    border: solid black 1px;
    width: 80%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-left: 45px;
}

.l채nkarcontainer{
    display: flex;
    flex-direction: row;
    gap: 830px;
    margin-top: 20px;
    width: auto;
    position: relative;
}
.l채nk{
    background-color: lightblue;
    border: solid black 1px;
}
.l채nkarcontainer .l채nk:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.box2 {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid black 1px;
    padding: 10px;
    margin-top: 10px;
}