
header{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
    width: 50%;
    height: 70px;
    background-color: lightblue;
    margin: auto;
}
main {
    flex-grow: 1;
    width: 100%;
}
body {
    align-items: center;
    justify-content: center;
background-image: url(bilder/bakgrund.webp);
background-size: cover;
background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}
h1{
text-align: center;
}

.contact button {
    background-color: #ddd;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    min-width: 1025px;
    max-height: 900px;
    margin: auto;
    margin-top: 20px;
}

.box img{
    border: solid black 1px;
    width: 80%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.länkarcontainer{
    display: flex;
    flex-direction: row;
    gap: 830px;
    margin-top: 20px;
    width: auto;
    position: relative;
}
.länk{
    border-radius: 3px;
    background-color: lightblue;
    border: solid black 1px;
}
.länkarcontainer .länk:nth-child(2) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-height: 100%;
}
.box2 {
    overflow: hidden;
    height: auto;
    border-radius: 20px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid black 1px;
    margin-top: 3px;
}